@model PimeSumary.Models.fullSumary

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Creación del formulaio</h2>
            <p>
                A continuación debera proporcionar la información solicitada e indicar siguiente una vez haya brindado la información en todos los campos solicitados.
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="stepper">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a class="persistant-disabled" href="#stepper-step-1" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1">
                            <span class="round-tab">1</span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a class="persistant-disabled" href="#stepper-step-2" data-toggle="tab" aria-controls="stepper-step-2" role="tab" title="Step 2">
                            <span class="round-tab">2</span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a class="persistant-disabled" href="#stepper-step-3" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
                            <span class="round-tab">3</span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a class="persistant-disabled" href="#stepper-step-4" data-toggle="tab" aria-controls="stepper-step-4" role="tab" title="Complete">
                            <span class="round-tab">4</span>
                        </a>
                    </li>
                </ul>
                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">
                            <h3 class "h2">1. Digite la información de la empresa</h3>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sumaryPime.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.sumaryPime.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.sumaryPime.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sumaryPime.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.sumaryPime.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.sumaryPime.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sumaryPime.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.sumaryPime.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.sumaryPime.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.sumaryPime.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.sumaryPime.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.sumaryPime.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            }

                            <ul class="list-inline pull-right">
                                <li>
                                    <a class="btn btn-primary next-step">Next</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="stepper-step-2">
                            <h3 class "h2">2. Digite la información del producto que desea vender</h3>


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                 
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Product.NameProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Product.NameProduct, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Product.NameProduct, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Product.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Product.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Product.UnitPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            }

                            <ul class="list-inline pull-right">
                                <li>
                                    <a class="btn btn-default prev-step">Back</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary next-step">Next</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="stepper-step-3">
                            <h3 class="hs">3. Digite los tipos de pago que desea tener disponibles</h3>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BillingTypeUser.IdBillingType, "IdBillingType", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("IdBillingType", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BillingTypeUser.IdBillingType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            }

                            <ul class="list-inline pull-right">
                                <li>
                                    <a class="btn btn-default prev-step">Back</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary next-step">Submit Payment</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="stepper-step-4">
                            <h3>4. Resumen del producto</h3>
                            <p>Acá va el resumen miedo</p>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
